<!DOCTYPE html>

{% extends "base.html" %}
{% load staticfiles %}


{% block body_block %}

<div id="J11" class="jumbotron jumbotron-fluid" style="background-image: url({% static "pics/025.jpg" %})">
  <div class="container">
    <h1 class="display-4">Thank you for contacting us.</h1>
    <br>
    <h2 class="display-4">We will be in contact within three business days of this request.</h2>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}
